<md-toolbar layout="row" layout-align="center center">

  <md-button href="#">Test Patron</md-button>

  <section flex layout="row" layout-align="left center">
    <md-button href="/" class="md-raised">Home</md-button>
  </section>


  <md-menu>
    <md-button class="acme-navbar-text" ng-click="vm.toggleCart($mdOpenMenu, $event)"><md-icon md-menu-origin md-font-icon="material-icons">shopping_cart</md-icon>{{ vm.cart.length > 0 ? '('+vm.cart.length+ ')' : ''}}</md-button>
    <md-menu-content width="6">
      <md-menu-item ng-repeat="artist in vm.cart">
        <md-button ng-click="vm.removeArtist(artist)"><span flex>{{artist.name}}</span>
          <md-icon class="pull right" md-font-icon="material_icons">close</md-icon>
        </md-button>
      </md-menu-item>
      <md-menu-divider></md-menu-divider>
      <md-menu-item ng-if="vm.cart.length == 0">
        <p>Nothing here !</p>
      </md-menu-item>
    </md-menu-content>
  </md-menu>


</md-toolbar>
