<div layout="vertical" layout-fill>

  <md-content>
    <header>
      <patron-navbar></patron-navbar>
    </header>

    <section class="jumbotron">
      <h1>Welcome to the Patron Test App</h1>

      <p>
        With ♥ thanks to the contributions of Yeoman, Gulp , Angular and
      </p>
      <md-button
              href="https://github.com/Swiip/generator-gulp-angular" class="md-raised">the gulp-angular generator</md-button>
    </section>

    <div class="artist" layout="horizontal">
      <md-card ng-repeat="artist in main.artists" flex="100" flex-gt-xs="33" flex-gt-md="20">
        <md-card-content>
          <div class="overlay-holder">
            <img ng-src="assets/images/{{ artist.image }}" alt="{{ artist.name }}">
            <div class="overlay"><h3 class="md-title">{{ artist.name }}</h3>
              <p>{{ artist.price | currency }}</p></div>
          </div>
        </md-card-content>


        <div class="md-action-buttons" layout-align="center">
          <md-button flex ng-if="artist.availability == main.availability.AVAILABLE" ng-click="main.addToCart(artist)" ng-disabled="main.artistInCart(artist)">{{main.artistInCart(artist) ? 'Artist added' : 'Add to cart'}}</md-button>
          <md-button flex ng-if="artist.availability == main.availability.SOLD_OUT" ng-disabled="true">Sold out</md-button>

        </div>
      </md-card>
    </div>
  </md-content>

</div>
